.head1{
  font-size: 22px;
  font-weight: 600;
}
.head2{
  font-size: 20px;
  font-weight: 500; 
}
.medium1{
  font-size: 16px;
  font-weight: 500;
}
.common{
  font-size: 18px;
  font-weight: 400;
  
}