.stepIndicator{
    display: flex;
    width: 100%;
    height: fit-content;
    gap: 24px;
}
.indicator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex: 1;
}
.indicator::before{
    content: '';
    position: absolute;
    background-color: var(--dark-thema-color-green-2);
    left: 12px;
    right: 12px;
    height: 7px;
}
.title{
    color: var(--dark-thema-color-white-2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.indicator div{
    background-color: var(--dark-thema-color-white-2);
    color: var(--dark-thema-color-dark-3);
    border-radius: 24px;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.currentStep{
    border-radius: 24px;
    background-color: var(--dark-thema-color-green-1) !important;
    color: var(--dark-thema-color-white-1) !important;
}