.inputCard{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.inputCard label{
    color: var(--dark-thema-color-white-1);
}
.input{
    border-radius: 6px;
    background-color: var(--dark-thema-color-dark-3);
    color: var(--dark-thema-color-white-1);
    min-height: 36px;
    flex: 1;
    padding: 6px 12px;
}