:root{
  --dark-thema-color-dark-1: #111921;
  --dark-thema-color-dark-2: #121B22;
  --dark-thema-color-dark-3: #1F2C34;
  --dark-thema-color-white-1: #E8EDF2;
  --dark-thema-color-white-2: #AEC6D9;
  --dark-thema-color-green-1:#25D366;
  --dark-thema-color-green-2:#008069;
  --dark-thema-color-transparent: #1f2c34cc;
}


body{
  background-color: var(--dark-thema-color-dark-2);
  margin: 0;
  display: flex;
  flex-direction: column;  
  height: 100vh;
}
a,ul,li,button,div{
  all: unset;
  user-select: none;
  cursor: default;
}
input{
  background-color: unset;
  border: unset;
  outline: unset;
}
button:focus,a:focus{
  outline: 1px solid var(--dark-thema-color-white-2);
  outline-offset: -2px;
}
main{
  display: flex;
  flex-direction: column;
  flex: 1;
}
textarea{
  resize: vertical;
}
