:root{
  --dark-thema-color-dark-1: #111921;
  --dark-thema-color-dark-2: #121B22;
  --dark-thema-color-dark-3: #1F2C34;
  --dark-thema-color-white-2: #AEC6D9;
  
}


body{
  background-color: var(--dark-thema-color-dark-2);
  margin: 0;
  display: flex;
  flex-direction: column;  
}
ul,lis{
  all: unset;
}


