.ellipsisMenu{
    position: relative;
}
.ellipsisMenu .items{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
}
.ellipsisMenu .items button{
    background-color: var(--dark-thema-color-white-2);
    color: var(--dark-thema-color-dark-3);
    padding: 12px 24px;
}
.ellipsisMenu .items button:disabled{

    color: #ccc;
}