.root{
    display: flex;
    position: absolute;
    inset: 0;
    height: 100vh;
    z-index: 1;
}
.hide{
    display: none;
}
.root ul{
    border-right: 2px solid var(--dark-thema-color-dark-3);
    background-color: var(--dark-thema-color-dark-1);    
    display: flex;
    gap: 24px;
    padding-top: 72px;
    flex-direction: column;
    min-width: 200px;
    max-width: calc(100% - 160px);
    overflow: hidden;
}
.root li{
    display: flex;
}
.root a:hover{
    color: var(--dark-thema-color-dark-3);
    background-color: var(--dark-thema-color-white-2);
}
.root a{
    color: var(--dark-thema-color-white-2);
    display: flex;
    flex: 1 0 0;
    height: 48px;
    padding: 0px 12px;
    align-items: center;
}
.root a:active{
    background-color: var(--dark-thema-color-white-1);
    color: var(--dark-thema-color-dark-2);
}
.root > .overlay{
    position: relative;
    flex: 1;
}
.primaryLinks{
    display: flex;
    flex-direction: column;
}
.secondaryLinks{
    border-top: 2px solid var(--dark-thema-color-green-2);
    display: flex;
    padding: 24px 0px;
    flex-direction: column;    
}